# Arquivo: .env.example
PORT=3000
API_URL=http://localhost:5000

FLASK_ENV=development
BACKEND_PORT=5000
DATABASE_URL=postgresql://usuario:senha@localhost:5432/mindscan
JWT_SECRET=OHDw1ZZ5N9M_T8x3JYo52JnhwkoGB0Y1o4dpquDqHsbJJoLKM1h7zFoCIKJ-RXxw024a0II3Qw7Pd3pu6ZGboQQ
CORS_ORIGINS=http://localhost:3000,http://localhost:4200
DEBUG=True


# Arquivo: docker-compose.yml
version: "3.9"
services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./backend:/app
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./frontend:/app

  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: senha
      POSTGRES_DB: mindscan
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
